:root {
  --marron-oscuro: #322010;
  --marron-oscuro-sec: ##5d4630;
  --marron-claro: #e2c38c;
  --marron-claro-sec: #846449;
  --blanco: #fcffff;
  --negro: #fcffff;
}

/*------------------------------------- body ----------------------------------------------*/

body {
  margin: 0;
}

/*------------------------------------- Nav ----------------------------------------------*/

.navbar {
  background-color: var(--marron-claro-sec);
  height: 5rem;
  display: flex;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: var(--blanco);
  margin: 0.8rem 1rem;
  font-size: 2.5rem;
  font-style: normal;
}
