:root {
  --marron-oscuro: #322010;
  --marron-oscuro-sec: #5d4630;
  --marron-claro: #e2c38c;
  --marron-claro-sec: #846449;
  --blanco: #fcffff;
  --negro: #040404;
}

/*------------------------------------- body ----------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*------------------------------------- Nav ----------------------------------------------*/

.navbar {
  background-color: var(--marron-claro-sec);
  height: 5rem;
  position: relative;
  display: flex;
}

.container-links-nav {
  display: flex;
  margin-left: 3rem;
  align-items: center;
  gap: 2rem;
  width: 50%;
}

.container-links-sec-nav {
  display: none;
}

.link-nav {
  transition: 0.3s;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.link-nav:hover {
  transition: 0.3s;
  color: var(--negro);
}

.logo {
  cursor: pointer;
  font-weight: 700;
  margin: 0.8rem 1rem;
  font-size: 2.5rem;
  font-style: normal;
}

.logo a {
  text-decoration: none;
  color: var(--blanco);
}

.logo:hover a {
  transition: 0.3s;
  color: var(--negro);
}

.svg-ham {
  display: none;
}

/*------------------------------------- Main ----------------------------------------------*/

.container-main {
  position: relative;
}

.container-icon-i,
.container-icon-w {
  position: fixed;
  z-index: 15;
  color: white;
  display: flex;
  gap: 1rem;
  width: 9rem;
  text-align: center;
  align-items: center;
  text-decoration: none;
  left: -7.3rem;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: var(--marron-claro-sec);
  transition: 0.5s;
}

.container-icon-w {
  top: 45lvh;
}

.container-icon-i {
  top: 53lvh;
}

.container-icon-i:hover,
.container-icon-w:hover {
  left: -0.2rem;
  transition: 0.5s;
}

.icon {
  width: 1.8rem;
}

.container-video-text {
  display: grid;
  position: relative;
}

.container-texto-vid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  letter-spacing: 2px !important;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.eslogan {
  width: 30rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--blanco);
}

.eslogan h2 {
  margin: 0;
  transition: 0.5s;
  font-size: 5rem;
  animation: inicio 2s normal;
}

.eslogan h3 {
  margin: 0;
  font-size: 3.5rem;
  animation: inicio 2s normal;
}

@keyframes inicio {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

.container-btn-crea {
  display: grid;
  place-items: center;
  animation: inicio 2s normal;
}

.container-btn-crea a {
  padding: 0.8rem;
  border: none;
  letter-spacing: 1px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: var(--blanco);
  background-color: var(--marron-claro-sec);
}

.container-btn-crea a:hover {
  filter: brightness(0.8);
  transition: 0.3s;
}

.container-gif {
  z-index: -100;
  position: relative;
  height: 35rem;
}

.container-gif video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-gif::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  background-color: var(--negro);
  opacity: 0.5;
  bottom: 0;
  right: 0;
}

.constelaciones {
  z-index: 0;
  opacity: 0.5;
  position: absolute;
}

.img1 {
  object-fit: cover;
  top: -4rem;
  z-index: -2;
  transform: rotate(60deg);
  width: 16rem;
  place-self: start;
}

.img2 {
  object-fit: cover;
  place-self: end;
}

.titulo-plantillas {
  position: relative;
  z-index: -20;
  margin: 2rem 3rem;
  font-size: 2.5rem;
}

.container-plantillas {
  display: flex;
  gap: 3rem;
  margin: 3rem;
}

.plantilla {
  transition: 0.5s;
  width: 25vw;
  height: 35vh;
  grid-template-rows: 1fr 0.3fr;
  cursor: pointer;
  border: solid var(--negro) 1px;
  display: grid;
  text-align: center;
  place-items: center;
}

.plantilla:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.img-plantilla {
  width: 80%;
  height: 80%;
}

.img-plantilla-1 {
  width: 55%;
}

.product {
  width: 100%;
  height: 100lvh;
}

.container-main-crear {
  display: grid;
  height: 80lvh;
  width: 40vw;
  place-items: center;
}

.map {
  width: 33vw !important;
  min-width: 100px !important;
  border: solid 4px var(--blanco);
  z-index: 0;
  height: 68lvh !important;
  display: grid !important;
  place-items: start center;
  background-color: var(--negro);
}

.borderBlack {
  background-color: var(--blanco) !important;
  border: solid 4px var(--negro) !important;
}

.map canvas {
  width: 25vw !important;
  height: 25vw !important;
  margin-top: 1rem;
  position: relative;
  z-index: 10;
  border-radius: 50%;
}

.container-marco {
  z-index: -5;
  width: 50vw;
  margin-top: 1rem;
  height: 90vh;
  display: grid;
  place-items: center;
}

.marco {
  width: 90%;
}

.bg-black {
  z-index: -5;
  width: 40vw;
  height: 80lvh;
  position: absolute;
  background-color: var(--negro);
}

.container-crear-form {
  display: grid;
  position: relative;
  height: 100lvh;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.formulario {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.container-input-form {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.container-search {
  gap: 1rem;
  display: flex;
}

.container-search button,
.btn-search,
.btnSearch {
  color: var(--blanco);
  border: none;
  width: 6rem;
  border-radius: 0.5rem;
  background-color: var(--marron-claro-sec);
}

.btnSearch {
  padding: 0.8rem;
}

.inputCreate {
  cursor: pointer;
  outline: none;
  border-radius: 0.8rem;
  padding: 0.8rem;
  transition: 0.3s;
  border: 2px solid var(--marron-claro-sec);
}

.labelCreate {
  cursor: pointer;
}

.inputCreate:hover,
.inputCreate:hover::placeholder {
  transition: 0.3s;
  color: var(--blanco);
  background-color: var(--marron-claro-sec);
}

.message {
  padding-bottom: 5rem;
}

.search {
  width: 30vw;
}

.container-map {
  display: grid;
  position: relative;
}

.moon {
  background-image: url(/luna.webp);
  background-size: 72%;
  opacity: 0.9;
  border-radius: 49%;
  transform: rotate(-18deg);
  background-position: top 0.5rem left 140%;
  background-repeat: no-repeat;
  width: 25vw;
  height: 25vw;
  z-index: 15;
  position: absolute;
  margin-top: 1.2rem;
  place-self: start center;
}

.name {
  place-self: center;
  margin-top: 8.5rem;
  color: var(--blanco);
  z-index: 15;
  padding: 0 1rem;
  background-color: var(--negro);
  position: absolute;
}

.nameBottom {
  bottom: -2rem;
}

.borderWhite {
  width: 25vw;
  height: 25vw;
  margin-top: 1rem;
  place-self: start center;
  z-index: 20;
  border-radius: 50%;
  position: absolute;
  border: solid 2px var(--blanco);
}

.spotify-code {
  z-index: 5;
  width: 12vw;
  top: 73%;
  place-self: center;
  position: absolute;
}

.message-show,
.date-show,
.location-show {
  font-weight: 300;
  z-index: 5;
  place-self: center;
  color: var(--blanco);
  position: absolute;
}

.message-show {
  top: 62%;
  font-size: 0.9rem;
  text-align: center;
  width: 50%;
  max-width: 50%;
}

.message-prev {
  top: 63%;
  font-size: 1rem;
}

.date-show,
.location-show {
  text-align: center;
  width: 10rem;
  font-size: 0.8rem;
}

.date-show {
  top: 83%;
}

.location-show {
  top: 86%;
}

.container-location {
  display: flex;
  gap: 1rem;
}

.container-coor {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.labelCoor {
  padding: 5px;
}

.borderSelected {
  border: 2px solid var(--marron-claro-sec);
  border-radius: 0.5rem;
}

.searchForm {
  display: grid;
  grid-auto-flow: column;
}

.container-btn-search {
  place-self: center;
  height: 100%;
  display: grid;
  place-items: end center;
}

.btn-search {
  margin: 1rem;
  padding: 0.8rem;
}

.location-input {
  position: relative;
}

.result {
  overflow-y: scroll;
  font-size: 0.8rem;
  color: var(--blanco);
  background-color: var(--marron-claro-sec);
  position: absolute;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 30vw;
  z-index: 5;
  border-radius: 0.5rem;
  max-height: 15rem;
  padding: 0.8rem;
}

.location-result {
  cursor: pointer;
  margin: 1rem 0;
  transition: 0.3s;
  border-radius: 0.8rem;
  padding: 0.8rem;
}

.location-result:hover {
  transition: 0.3s;
  background-color: var(--marron-oscuro-sec);
}

.location-result h4 {
  margin: 0;
}

.QRCode {
  top: 72%;
  place-self: center;
  position: absolute;
}

.container-yn {
  display: flex;
  position: relative;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-around;
  border: solid 1px var(--marron-claro-sec);
}

.separador {
  width: 1px;
  height: 100%;
  background-color: var(--marron-claro-sec);
}

.blockBrown {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 47%;
  right: 0;
  transition: 0.3s;
  z-index: -1;
  border-radius: 0 0.3rem 0.3rem 0;
  background-color: var(--marron-claro-sec);
}

.left {
  transition: 0.3s;
  left: 0;
  right: 48%;
  border-radius: 0.3rem 0 0 0.3rem;
}

.inputQR {
  width: 90%;
}

.colorWhite {
  color: var(--blanco);
}

.black {
  background-color: var(--negro) !important;
}

.colorBlack {
  background-color: transparent;
  color: var(--negro);
}

.bg-white {
  background-color: var(--blanco) !important;
}

.shadow {
  box-shadow: 10px 17px 59px -12px rgba(0, 0, 0, 0.5);
}

.total {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
}

.btnCreateM {
  display: grid;
  place-items: center;
}

.bg-create {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  font-size: 1.8rem;
  font-weight: 700;
  place-items: center;
  z-index: 100;
  background-color: var(--blanco);
  position: fixed;
}

.WM {
  position: absolute;
  color: var(--blanco);
  place-self: center;
  font-weight: bold;
  font-size: 20rem;
  opacity: 15%;
  letter-spacing: 5px;
  transform: rotate(-50deg);
}

/*------------------------------------- 13x18 styles ----------------------------------------------*/

.bg13x18,
.container13x18 {
  width: 12.8cm;
  height: 17.8cm;
}

.map13x18 canvas,
.borderWhite13x18 {
  width: 7.5cm !important;
  height: 7.5cm !important;
}

.moon13x18 {
  width: 7.52cm;
  height: 7.5cm;
}

.map13x18 {
  width: 11cm !important;
  height: 16cm !important;
}

.date-show13x18,
.location-show13x18 {
  width: 10rem;
}

.name13x18 {
  left: 6rem;
  text-align: center;
  width: 12rem;
}

/*------------------------------------- 15x20 styles ----------------------------------------------*/

.bg15x20,
.container15x20 {
  width: 15cm;
  height: 20cm;
}

.map15x20 {
  width: 13cm !important;
  height: 18cm !important;
}

.map15x20 canvas,
.borderWhite15x20,
.moon15x20 {
  width: 9.5cm !important;
  height: 9.5cm !important;
}

.date-show15x20 {
  top: 86%;
}

.location-show15x20 {
  top: 89%;
}

.location-show15x20,
.date-show15x20 {
  font-size: 0.9rem;
  left: 35.8%;
}

.name15x20 {
  left: 6.8rem;
  text-align: center;
  width: 15rem;
  margin-top: 10rem;
  font-size: 1.9rem;
}

.nameBottom15x20 {
  bottom: -2.5rem;
}

.message-show15x20 {
  top: 63%;
  font-size: 1rem;
}

.message-prev15x20 {
  top: 65%;
  font-size: 1.1rem;
}

.spotify-code15x20 {
  width: 5cm;
  top: 73%;
}

.QRCode15x20 {
  top: 73%;
  width: 2cm;
  height: 2cm;
}

/*------------------------------------- 20x25 styles ----------------------------------------------*/

.bg20x25,
.container20x25 {
  width: 20cm;
  height: 25cm;
}

.map20x25 {
  width: 18cm !important;
  height: 22.5cm !important;
}

.map20x25 canvas,
.borderWhite20x25 {
  margin-top: 0.5rem;
  width: 12cm !important;
  height: 12cm !important;
}

.moon20x25 {
  margin-top: 0.6rem;
  width: 12cm;
  height: 12cm;
}

.QRCode20x25 {
  top: 72%;
  width: 2.8cm;
  height: 2.8cm;
}

.date-show20x25 {
  top: 85%;
}

.location-show20x25 {
  top: 89%;
  width: 20rem;
}

.location-show20x25,
.date-show20x25 {
  font-size: 1.2rem;
}

.message-show20x25 {
  top: 62%;
  font-size: 1.4rem;
}

.message-prev20x25 {
  top: 65%;
  font-size: 1.3rem;
}

.name20x25 {
  left: 9.5rem;
  text-align: center;
  width: 20rem;
  margin-top: 12rem;
  font-size: 2.3rem;
}

.nameBottom20x25 {
  bottom: -3.2rem;
}

.spotify-code20x25 {
  width: 6cm;
  top: 75%;
}

/*------------------------------------- Container Contactar ----------------------------------------------*/

.container-contactar {
  background-color: rgba(0, 0, 0, 0.37);
  position: fixed;
  place-self: center;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.contactar-inputs {
  width: 60vw;
  padding: 1rem;
  display: grid;
  border-radius: 1rem;
  background-color: var(--blanco);
}

.contactar-inputs h3 {
  text-align: center;
  font-size: 1.5rem;
}

.contactar-inputs div {
  display: grid;
  margin: 1rem;
  grid-template-columns: 0.5fr 1fr;
}

.contactar-inputs div label {
  place-self: center start;
}

.container-close {
  place-self: end;
  display: flex !important;
  margin: 0 !important;
}

.close-contact {
  width: 2.5rem;
  cursor: pointer;
}

.btn-create {
  border: none;
  padding: 0.8rem;
  margin: 1rem;
  color: white;
  border-radius: 0.5rem;
  background-color: var(--marron-claro-sec);
  place-self: center;
}

.container-message-cant {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: #04040494;
  z-index: 20;
}

.message-cant {
  background-color: var(--blanco);
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  padding: 2rem 0;
  border-radius: 24px;
}

/*------------------------------------- Tipografías ----------------------------------------------*/

.tituloT {
  font-size: 1.5rem;
  text-align: center;
}

.Alice {
  font-family: "Alice", serif;
  font-style: normal;
}

.Lustria {
  font-family: "Lustria", serif;
  font-style: normal;
}

.Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Tinos {
  font-family: "Tinos", serif;
  font-style: normal;
}

.Arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Light {
  font-weight: lighter;
}

.Regular {
  font-weight: normal;
}

.Bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

/*------------------------------------- Galery ----------------------------------------------*/

.text-galery {
  display: grid;
  height: 50%;
}

.text-galery h3 {
  text-align: center;
  font-size: 1.5rem;
}

.text-galery p {
  text-align: justify;
}

.container-galery-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 3rem;
}

.container-galery {
  display: grid;
  overflow: hidden;
  gap: 1rem;
  grid-auto-flow: column;
}

.image-galery {
  transition: 0.8s;
  opacity: 0;
  transform: translateX(40vw);
  width: 40vw;
  height: 30rem;
}

.animation1 {
  transform: translateX(0);
}

.animation1-5 {
  transform: translateX(-210vw);
}

.animation2 {
  transform: translateX(-40vw);
}

.animation3 {
  transform: translateX(-80vw);
}

.animation4 {
  transform: translateX(-120vw);
}

.animation5 {
  transform: translateX(-160vw);
}

.animation0 {
  transition: 0;
  transform: translateX(-160vw);
}

.opacity {
  opacity: 1 !important;
}

/*------------------------------------- Footer ----------------------------------------------*/

.footer {
  background-color: var(--marron-oscuro-sec);
  color: white;
  padding: 2rem;
  text-align: center;
}

/*------------------------------------- Responsive ----------------------------------------------*/

@media (max-width: 700px) {
  /*------------------------------------- Nav Responsive ----------------------------------------------*/

  .navbar {
    z-index: 20;
    position: relative;
    justify-content: space-between;
  }

  .container-links-nav {
    display: none;
  }

  .svg-ham {
    margin-right: 1rem;
    height: 100%;
    display: grid;
    place-items: center;
    display: block;
    cursor: pointer;
    color: var(--blanco);
    width: 2.5rem;
  }

  .container-links-sec-nav {
    background-color: var(--marron-oscuro-sec);
    left: 0;
    top: -20vh;
    z-index: 15;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    display: grid;
    place-items: center;
    right: 0;
    position: absolute;
  }

  .container-links-sec-nav a {
    margin: 1rem;
  }

  .container-links-sec-nav .link-nav:nth-of-type(2) {
    margin-bottom: 1.5rem !important;
  }

  .animacion-click-nav {
    top: 5rem;
    transition: 0.3s;
  }

  .bg-white {
    background-color: var(--blanco) !important;
  }

  /*------------------------------------- Main Responsive ----------------------------------------------*/

  .bg-create {
    width: 100vw;
  }

  .eslogan {
    width: 0;
  }

  .eslogan h2 {
    font-size: 4rem;
  }

  .eslogan h3 {
    font-size: 2.5rem;
  }

  .constelaciones {
    width: 10rem;
  }

  .img1 {
    width: 11rem;
  }

  .container-btn-crea button {
    font-size: 1.2rem;
  }

  .container-plantillas {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .titulo-plantillas {
    text-align: center;
  }

  .plantilla {
    width: 70vw;
    height: 40vh;
  }

  .container-crear-form {
    display: flex;
    flex-direction: column;
  }

  .formulario {
    height: auto;
    margin: 1rem;
    overflow-y: visible;
  }

  .search {
    width: 50vw;
  }

  .container-main-crear {
    width: 90vw;
    height: 70vh;
    margin: 1rem;
  }

  .map {
    width: 90% !important;
    height: 62lvh !important;
  }

  .map canvas,
  .borderWhite {
    margin-top: 0.2rem;
    width: 60vw !important;
    height: 60vw !important;
  }

  .moon {
    margin-top: 0.3rem;
    width: 60vw;
    height: 60.1vw;
  }

  .message-show {
    top: 57%;
    font-size: 0.8rem;
  }

  .message-prev {
    width: 20rem;
    font-size: 1rem;
    top: 62%;
  }

  .spotify-code {
    width: 35vw;
  }

  .bg-black {
    height: 70lvh;
    width: 95vw;
  }

  .searchForm {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .search {
    width: 80vw;
  }

  .btnLocation {
    display: grid;
    place-items: center;
  }

  .btnLocation button {
    padding: 0.5rem;
  }

  .container-search {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 1.3rem;
    margin-top: 4rem;
  }

  .nameBottom {
    bottom: -2rem;
  }

  .QRCode {
    height: 4rem;
    width: 4rem;
    top: 70%;
  }

  .result {
    max-height: 25rem;
    width: 80vw;
  }

  /*------------------------------------- Container Contactar Responsive ----------------------------------------------*/

  .contactar-inputs {
    width: 85vw;
    height: 90vh;
    overflow: scroll;
  }

  .contactar-inputs h3 {
    margin: 1rem;
  }

  .contactar-inputs div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /*------------------------------------- 13x18 styles ----------------------------------------------*/

  .bg13x18,
  .container13x18 {
    width: 12.8cm;
    height: 17.8cm;
    margin: 0;
  }

  .map13x18 {
    width: 11cm !important;
    height: 16cm !important;
  }

  .map13x18 canvas,
  .borderWhite13x18 {
    width: 7.5cm !important;
    height: 7.5cm !important;
  }

  .moon13x18 {
    width: 7.52cm;
    height: 7.5cm;
  }

  .date-show13x18,
  .location-show13x18 {
    width: 10rem;
  }

  .message-show13x18 {
    top: 60%;
  }

  .QRCode13x18 {
    height: 2cm;
    width: 2cm;
    top: 70%;
  }

  .name13x18 {
    margin-top: 6rem;
    font-size: 1.8rem;
  }

  /*------------------------------------- 15x20 styles ----------------------------------------------*/

  .bg15x20,
  .container15x20 {
    width: 15cm;
    margin: 0;
    height: 20cm;
  }

  .map15x20 {
    width: 13cm !important;
    height: 18cm !important;
  }

  .map15x20 canvas,
  .borderWhite15x20,
  .moon15x20 {
    width: 9.5cm !important;
    height: 9.5cm !important;
  }

  .date-show15x20 {
    top: 86%;
  }

  .location-show15x20 {
    top: 89%;
  }

  .location-show15x20,
  .date-show15x20 {
    font-size: 0.9rem;
    left: 35.8%;
  }

  .name15x20 {
    left: 6.8rem;
    text-align: center;
    width: 15rem;
    margin-top: 10rem;
    font-size: 1.9rem;
  }

  .nameBottom15x20 {
    bottom: -2.5rem;
  }

  .message-show15x20 {
    top: 63%;
    font-size: 1rem;
  }

  .message-prev15x20 {
    top: 65%;
    font-size: 1.1rem;
  }

  .spotify-code15x20 {
    width: 5cm;
    top: 73%;
  }

  .QRCode15x20 {
    top: 73%;
    width: 2cm;
    height: 2cm;
  }

  /*------------------------------------- 20x25 styles ----------------------------------------------*/

  .bg20x25,
  .container20x25 {
    width: 20cm;
    margin: 0;
    height: 25cm;
  }

  .map20x25 {
    width: 18cm !important;
    height: 22.5cm !important;
  }

  .map20x25 canvas,
  .borderWhite20x25 {
    margin-top: 0.5rem;
    width: 12cm !important;
    height: 12cm !important;
  }

  .moon20x25 {
    margin-top: 0.6rem;
    width: 12cm;
    height: 12cm;
  }

  .QRCode20x25 {
    top: 72%;
    width: 2.8cm;
    height: 2.8cm;
  }

  .date-show20x25 {
    top: 85%;
  }

  .location-show20x25 {
    top: 89%;
    width: 20rem;
  }

  .location-show20x25,
  .date-show20x25 {
    font-size: 1.2rem;
  }

  .message-show20x25 {
    top: 62%;
    font-size: 1.4rem;
  }

  .message-prev20x25 {
    top: 65%;
    font-size: 1.3rem;
  }

  .name20x25 {
    left: 10.3rem;
    text-align: center;
    width: 20rem;
    margin-top: 12rem;
    font-size: 2.3rem;
  }

  .nameBottom20x25 {
    bottom: -3.2rem;
  }

  .spotify-code20x25 {
    width: 6cm;
    top: 75%;
  }

  .hidden {
    display: none;
  }

  /*------------------------------------- Galery Responsive ----------------------------------------------*/

  .container-galery-text {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .image-galery {
    width: 80vw;
    height: 20rem;
    transform: translateX(80vw);
  }

  .animation1 {
    transform: translateX(0);
  }

  .animation1-5 {
    transform: translateX(-430vw);
  }

  .animation2 {
    transform: translateX(-85vw);
  }

  .animation3 {
    transform: translateX(-170vw);
  }

  .animation4 {
    transform: translateX(-250vw);
  }

  .animation5 {
    transform: translateX(-338vw);
  }

  .animation0 {
    transition: 0;
    transform: translateX(-338vw);
  }
}
